.place__link {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    transition: 0.2s;
}

.place__link:hover {
    opacity: 0.8;
    transition: 0.2s;
}